<head>
    <title>template is working</title>
    <body>
    <h1>Text analyzer</h1>
    <form action="/analyze",method='get'>
        <textarea name="text" style="font-size: 2em; margin-block: 0.67em; margin-inline: 0px; font-weight: bold; width: 1307px; height: 196px;"></textarea>
        <input type="checkbox" name="removepunc">Remove punctuation</br>
        <input type="checkbox" name="fullcaps">UPPERCASE</br>
        <input type="checkbox" name="newlineremover">new line remover</br>
        <button type="submit">text analyzer</button>
    
    
    </form>
    </body>
    
    
    </head>